.drawing-area {
    width: 224px;
    height: 224px;
    margin-right: 15px;
}
.top {
    border-radius:0 0 5px 5px;
    padding:1%;
    display: flex;
    position: relative;
    margin: auto;
}

.drawing-area:hover{
    cursor: pointer;
}

.Project-form-grid{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
}

.btn-random,.btn-clear,.btn-submit{
  height:30px;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.btn-clear{
  background-color: #007bff;
  border-color: #007bff;
}

.btn-submit{
  background-color: #28a745;
  border-color: #28a745;
}
.btn-random{
  background-color: #dc3545;
  border-color: black;
  padding-left: 4px;
  padding-right: 4px;
}
@media screen and (max-width: 500px) {
  .drawing-area{
    margin-right: 0;
  }
  .top{
    display: block;
  }
}